In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('customers.csv', sep=";")
df

                                     UUID              Name  Points
0    aa3eaf74-6d9c-4859-b733-5a18a3b2f71b         afonso_rf     792
1    2d3d2dce-d353-4961-ad39-46723efe2100     mariicmartins    1375
2    ca95ef2a-5129-40f4-acbc-2ced25940032           tdlupus     421
3    65662aff-44d6-4f06-b9d9-07445c6e5943            kozat0    4063
4    98b960e7-6b7b-45b7-b7af-60bca40e04b9            gu1z17       0
..                                    ...               ...     ...
786  4a36c617-b018-436a-babc-4374461ab87b         null__var      53
787  403db18e-941e-4e63-ba23-e63c0515876a         lmadriles      50
788  c9bfbbf9-db90-45a7-a72c-4118140038f4  eduardo_cofferri      50
789  4caa2fb3-7ed2-436d-bc35-390feebfdebe          marmschu      50
790  000ff655-fa9f-4baa-a108-47f581ec52a1            cajuuh      52

[791 rows x 3 columns]

In [5]:
df.dtypes

UUID      object
Name      object
Points     int64
dtype: object

In [6]:
df["Points"].astype(str)

0       792
1      1375
2       421
3      4063
4         0
       ...
786      53
787      50
788      50
789      50
790      52
Name: Points, Length: 791, dtype: object