In [17]:
import pandas as pd

In [18]:
df = pd.read_excel('transactions.xlsx')
df

,UUID,IdCustomer,DtTransaction,Points
0,fb4e3102-6125-414e-b086-e7f641e38f93,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:23.774,1
1,036b8d66-8adf-479b-ba0f-cb0e3207acb0,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:24.643,1
2,10166182-a164-4608-8cdf-35e4450b2bd7,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:11:44.728,500
3,03974c58-e86e-4b6b-8143-8f89ca870d09,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:19:41.063,1
4,e84703a6-b606-4096-a2f3-514971c16c5c,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:31:46.288,500
...,...,...,...,...
23497,25500149-c2b8-4942-90f7-39f136d9fb1b,2d7f6b3f-9366-44c1-9663-beb5f7e1254e,2024-03-04 12:24:18.083,1
23498,75b3856f-083d-4775-98c9-7a9791b4d693,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:24:27.976,1
23499,827a1417-902c-4657-a0e5-4cef5d2bd8ca,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:25:13.024,1
23500,7429b0a5-08a5-470c-8091-12f627d21911,f3a268f2-1788-47da-bc79-2680a1721254,2024-03-04 12:25:28.565,50
23501,07d25502-18a9-4107-b4af-9b5ba8b5a46d,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-03-04 12:26:03.369,1

In [19]:
df_last = (df.sort_values(by='DtTransaction', ascending=False)
      .drop_duplicates(subset=["IdCustomer"], keep='first'))
df_last

,UUID,IdCustomer,DtTransaction,Points
23501,07d25502-18a9-4107-b4af-9b5ba8b5a46d,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-03-04 12:26:03.369,1
23500,7429b0a5-08a5-470c-8091-12f627d21911,f3a268f2-1788-47da-bc79-2680a1721254,2024-03-04 12:25:28.565,50
23499,827a1417-902c-4657-a0e5-4cef5d2bd8ca,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:25:13.024,1
23497,25500149-c2b8-4942-90f7-39f136d9fb1b,2d7f6b3f-9366-44c1-9663-beb5f7e1254e,2024-03-04 12:24:18.083,1
23495,aeb17cd4-36ae-43ae-9c18-c37fb91f292e,3f55b86f-dc21-4ac8-8e89-7c1535359eaf,2024-03-04 12:24:09.030,1
...,...,...,...,...
489,35b7039c-338d-4d50-a754-2ddaa0873ee5,98b960e7-6b7b-45b7-b7af-60bca40e04b9,2024-01-30 11:56:16.337,1
411,493bd37a-5a53-44c5-a5e4-46b49d55d379,be6ccf09-820d-43c9-9705-9fc381b682f7,2024-01-29 14:20:20.898,500
366,2c7d5654-fbb5-44c4-862a-2372f45a3a36,faf46096-5f3c-4419-befb-7365c881d2d6,2024-01-29 14:08:11.120,1
359,26a5525e-63bf-4ee1-a951-e4d9c8bbfae4,053f094b-a813-4417-9bb6-7a3d1737b089,2024-01-29 14:00:50.362,1
312,c9009246-d1b9-412c-8ce4-3828cfb3e151,317476ac-bfe4-427e-b611-06cdc5e80894,2024-01-29 13:41:13.582,1

In [20]:
df_last["IdCustomer"].unique().size

727