In [1]:
import pandas as pd

In [2]:
dados = {"nome":["Téo", "Nah", "Napoleão"], "idade": [31, 32, 14]}
df = pd.DataFrame(dados)
df

       nome  idade
0       Téo     31
1       Nah     32
2  Napoleão     14

In [3]:
sumario_numericas = df.describe()
sumario_numericas

           idade
count   3.000000
mean   25.666667
std    10.115994
min    14.000000
25%    22.500000
50%    31.000000
75%    31.500000
max    32.000000

In [4]:
df["nome"].describe()

count       3
unique      3
top       Téo
freq        1
Name: nome, dtype: object

In [5]:
df["idade"].mean()

25.666666666666668

In [6]:
df["nome"].iloc[-1]

'Napoleão'

In [7]:
df["nome"].tail(1)

2    Napoleão
Name: nome, dtype: object