In [1]:
import pandas as pd

In [2]:
idades = [30, 42, 90, 34]
idades

[30, 42, 90, 34]

In [3]:
series_idades = pd.Series(idades)
series_idades

0    30
1    42
2    90
3    34
dtype: int64

In [4]:
series_idades.mean()

49.0

In [5]:
series_idades.var()

772.0

In [6]:
series_idades.std()

27.784887978899608

In [7]:
series_idades.median()

38.0

In [8]:
series_idades.quantile(0.75)

54.0

In [9]:
series_idades.describe()

count     4.000000
mean     49.000000
std      27.784888
min      30.000000
25%      33.000000
50%      38.000000
75%      54.000000
max      90.000000
dtype: float64

In [10]:
series_idades.shape

(4,)

In [11]:
idades[0]

30

In [12]:
series_idades[3]

34

In [13]:
series_idades.index = ['t', 'e', 'o', 'c']

In [14]:
series_idades['t']

30

In [15]:
series_idades.index = [40, 10, 30, 20]
series_idades

40    30
10    42
30    90
20    34
dtype: int64

In [16]:
series_idades

40    30
10    42
30    90
20    34
dtype: int64

In [17]:
series_idades.iloc[2:4]

30    90
20    34
dtype: int64

In [18]:
series_idades.iloc[0:2]

40    30
10    42
dtype: int64

In [19]:
series_idades.loc[40]

30

In [20]:
series_idades.name = 'idades'
series_idades

40    30
10    42
30    90
20    34
Name: idades, dtype: int64

In [21]:
series_idades = pd.Series(idades, name="idades")
series_idades

0    30
1    42
2    90
3    34
Name: idades, dtype: int64